---

const { url,class:classname,target = '_blank',download = false} = Astro.props;
---

<a

  class={`rounded-full flex justify-center items-center gap-2 px-4 py-2 transition hover:scale-110 ${classname}`}
  href={url}
  target={target}
  rel="noopener noreferrer"
  {...(download && { download })}
>
  <slot />
</a>

