---
interface Props {
  url?: string;
}
const { url } = Astro.props;
---

<a
  href={url}
  class="relative overflow-hidden px-[6px] md:px-5 py-2.5 
   text-white duration-300
    [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)]
    active:translate-y-1 active:scale-x-110 active:scale-y-90
    after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px]
    after:w-full after:origin-bottom after:scale-x-0
  after:bg-white after:transition-transform after:duration-300
    after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom hover:after:scale-x-90"
  rel="noopener noreferrer"
>
  <slot />
</a>
