---
import ExperienciaItems from "./ExperienciaItems.astro";

const Experiencia = [
  {
    fecha: "Setiembre 2024 - Actualidad",
    titulo: "Analista Programador Full Stack - Grupo M4G",
    descripcion:
      "Encargado de la creación y mantenimiento de widgets personalizados con Vue.js, así como del desarrollo, modificación y consumo de APIs para integrar Zoho con sistemas externos como SAP y TOURPLAN. despliegue de servicios en AWS, utilizando herramientas como PuTTY y FileZilla. Colaboro con equipos frontend y backend para asegurar una integración eficiente, trabajando con tecnologías como Vue.js, Java, Spring Boot, Zoho Deluge y Git.",
  },
  {
    fecha: "Diciembre 2022 - Enero 2024",
    titulo: "Desarrollador Junior en Estudio Jurídico - SIEMPRE LEGAL.",
    descripcion:
      "Encargado del mantenimiento de distintos módulos del ERP de la empresa, así como de la creación, modificación y consumo de APIs. Colaboré con el equipo frontend para integrar servicios backend, utilizando tecnologías como Java 11, Spring Boot, Angular, Angular Material, SQL Server, Docker, Git, Swagger, JUnit, Mockito y Jacoco.",
  },
  {
    fecha: "Enero 2021 a Julio 2021",
    titulo:
      "Desarrollador Junior Full Stack en Área de Desarrolloro - Fortune Project",
    descripcion:
      "Responsable del desarrollo de módulos para un proyecto de gestión de embarcaciones de contenedores en la costa del Perú, utilizando MySQL para la base de datos, Spring Boot para el back-end y Angular para el front-end. ",
  },
  {
    fecha: "Enero 2019- Marzo 2020",
    titulo:
      "Practicante de soporte Junior en Área de Soporte Técnico en la Facultad de Ingeniería de Sistemas e Informática de la UNMSM ",
    descripcion:
      "Responsable brindar asistencia técnica y resolver problemas relacionados con el funcionamiento de software, hardware y redes en la Facultad de Ingeniería de Sistemas e Informática",
  },
];
---

<ol class="relative border-s ml-6 border-gray-200 dark:border-gray-700">
  {
    Experiencia.map((experiencia) => (
      <li class="mb-10 ms-4">
        <ExperienciaItems {...experiencia} />
      </li>
    ))
  }
</ol>
