<footer
  class="flex justify-center rounded-lg  mx-auto bg-black/20 backdrop-blur-xl w-full max-w-screen-xl p-4 md:flex md:items-center "
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    > <a href="#top" class="hover:underline">Erik Antony Muñico Galvan</a
    >  2024
  </span>
</footer>
