---
import Enlaces from "./Enlaces.astro";
---

<header
  class="top-0 left-0 fixed z-50 flex justify-center items-center py-5 w-screen mx-auto backdrop-blur-sm bg-gray-950/10"
>
  <nav class="flex flex-row gap-x-1 opacity-50 md:gap-x-4">
    <Enlaces url="#top">Inicio</Enlaces>
    <!-- <Enlaces url="#Sobre-mi">Sobre mí</Enlaces> -->
    <Enlaces url="#experiencia">Experiencia</Enlaces>
    <Enlaces url="#proyectos">Proyectos</Enlaces>
    <Enlaces url="#top">Contacto</Enlaces>
  </nav>
</header>
